<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/registration.css" type="text/css">
    <script>
        function switchForm() {
            var studentForm = document.getElementById("student-form");
            var teacherForm = document.getElementById("teacher-form");
            if (document.getElementById("student-radio").checked) {
                studentForm.style.display = "block";
                teacherForm.style.display = "none";
            } else {
                studentForm.style.display = "none";
                teacherForm.style.display = "block";
            }
        }

        function saveSelectedGroups() {
            var selectElement = document.getElementById("groupSelect");
            var selectedGroups = [];
            for (var i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].selected) {
                    selectedGroups.push(selectElement.options[i].value);
                }
            }
            document.getElementById("groups").value = selectedGroups.join(", ");
        }

    </script>
</head>
<body>
<div class="registration-div">
    <h1>Регистрация</h1>
    <div class="radio-group">
    <input type="radio" id="student-radio" name="user-type" value="student" checked onchange="switchForm()">Студент
    <input type="radio" id="teacher-radio" name="user-type" value="teacher" onchange="switchForm()">Преподаватель
    </div>
    <div id="student-form">
        <h2>Студент</h2>
    <form th:method="post" th:action="@{/auth/registration}">
        <div class="form-registration" th:object="${user}">
            <input type="hidden" id="role" name="role" value="ROLE_STUDENT"/>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" th:field="*{username}" placeholder="Введите логин"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Неправильное имя</div>
        </div>
        <div class="form-registration" th:object="${user}">
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" 
            placeholder="Введите пароль"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неправильный пароль</div>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="surName">Фамилия:</label>
            <input type="text" id="surName" th:field="*{surName}"/>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" th:field="*{firstName}"/>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="fatherLand">Отчество:</label>
            <input type="text" id="fatherLand" th:field="*{fatherLand}" 
            placeholder="Отчество, при наличии"/>
        </div>
        <div class="list-group" th:object="${student}">
            <label>Выберите группу</label>
            <select required name="groupStudent">
                <option value="М3О-409Б-19">М3О-409Б-19</option>
                <option value="М3О-410Б-19">М3О-410Б-19</option>
                <option value="М3О-407Б-19">М3О-407Б-19</option>
                <option value="М3О-408Б-19">М3О-408Б-19</option>
            </select>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
        </div>
    <div id="teacher-form" style="display: none">
        <h2>Преподователь</h2>
        <form th:method="post" th:action="@{/auth/registration}">
            <div class="form-registration" th:object="${user}">
                <input type="hidden" id="role1" name="role" value="ROLE_TEACHER"/>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username1" th:field="*{username}" placeholder="Введите логин"/>
                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Неправильное имя</div>
            </div>
            <div class="form-registration" th:object="${user}">
                <label for="password">Пароль:</label>
                <input type="password" id="password1" th:field="*{password}"
                       placeholder="Введите пароль"/>
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неправильный пароль</div>
            </div>
            <div class="form-registration" th:object="${teacher}">
                <label for="surName">Фамилия:</label>
                <input type="text" id="surName1" th:field="*{surName}"/>
            </div>
            <div class="form-registration" th:object="${teacher}">
                <label for="firstName">Имя:</label>
                <input type="text" id="firstName1" th:field="*{firstName}"/>
            </div>
            <div class="form-registration" th:object="${teacher}">
                <label for="fatherLand">Отчество:</label>
                <input type="text" id="fatherLand1" th:field="*{fatherLand}"
                       placeholder="Отчество, при наличии"/>
            </div>
            <div class="list-group" th:object="${teacher}">
                <label>Выберите группу(ы), у которой(ых) Вы преподаете</label>
                <select id="groupSelect" multiple>
                    <option value="М3О-409Б-19">М3О-409Б-19</option>
                    <option value="М3О-410Б-19">М3О-410Б-19</option>
                    <option value="М3О-407Б-19">М3О-407Б-19</option>
                    <option value="М3О-408Б-19">М3О-408Б-19</option>
                </select>
                <input type="hidden" id="groups" name="groupStudent" value=""/>
            </div>
            <button  onclick="saveSelectedGroups()" type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <div class="login_button">
        <a th:href="@{/auth/login}">
            <button type="submit">Уже есть аккаунт</button>
        </a>
    </div>
</div>
</body>
</html>
