<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/registration.css" type="text/css">
</head>
<body>
<div class="registration-div">
    <h2>Регистрация</h2>
    <form th:method="post" th:action="@{/auth/registration}">
        <div class="form-registration" th:object="${user}">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" th:field="*{username}" placeholder="Введите логин"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Неправильное имя</div>
        </div>
        <div class="form-registration" th:object="${user}">
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" 
            placeholder="Введите пароль"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неправильный пароль</div>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="surName">Фамилия:</label>
            <input type="text" id="surName" th:field="*{surName}"/>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" th:field="*{firstName}"/>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="fatherLand">Отчество:</label>
            <input type="text" id="fatherLand" th:field="*{fatherLand}" 
            placeholder="Отчество, при наличии"/>
        </div>
        <div class="list-group" th:object="${student}">
            <label>Выберите группу</label>
            <select required>
                <option>М3О-409Б-19</option>
                <option>М3О-410Б-19</option>
                <option>М3О-407Б-19</option>
                <option>М3О-408Б-19</option>
            </select>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="login_button">
        <a th:href="@{/auth/login}">
            <button type="submit">Уже есть аккаунт</button>
        </a>
    </div>
</div>
</body>
</html>
