<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/registration.css" th:href="@{/css/registration.css}"/>
    <script>
        function switchForm() {
            var studentForm = document.getElementById("student-form");
            var teacherForm = document.getElementById("teacher-form");
            if (document.getElementById("student-radio").checked) {
                studentForm.style.display = "block";
                teacherForm.style.display = "none";
            } else {
                studentForm.style.display = "none";
                teacherForm.style.display = "block";
            }
        }
    </script>
</head>
<body>
<div class="registration-div">
    <h1>Регистрация</h1>
    <div class="radio-group">
    <input type="radio" id="student-radio" name="user-type" value="student" checked onchange="switchForm()">Студент
    <input type="radio" id="teacher-radio" name="user-type" value="teacher" onchange="switchForm()">Преподаватель
    </div>
    <div id="student-form">
        <h2>Студент</h2>
    <form th:method="post" th:action="@{/auth/registration}">
        <div class="form-registration" th:object="${user}">
            <input type="hidden" id="role" name="role" value="ROLE_STUDENT"/>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" th:field="*{username}" placeholder="Введите логин"/>
            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Имя уже занято</div>
            <div th:if="${param.error}" style="color: red">Неправильные имя</div>
        </div>
        <div class="form-registration" th:object="${user}">
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" 
            placeholder="Введите пароль"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неправильный пароль</div>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" th:field="*{lastName}"/>
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Не должно быть пустым!</div>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" th:field="*{firstName}"/>
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Не должно быть пустым!</div>
        </div>
        <div class="form-registration" th:object="${student}">
            <label for="fatherName">Отчество:</label>
            <input type="text" id="fatherName" th:field="*{fatherName}"
            placeholder="Отчество, при наличии"/>
        </div>
        <div class="list-group" th:object="${student}">
            <label>Выберите группу</label>
            <select required name="groupStudent">
                <option th:each="group : ${groups}"
                        th:value="${group}"
                        th:text="${group}">
                </option>
            </select>
        </div>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
        </div>
    <div id="teacher-form" style="display: none">
        <h2>Преподователь</h2>
        <form th:method="post" th:action="@{/auth/registration}">
            <div class="form-registration" th:object="${user}">
                <input type="hidden" id="role1" name="role" value="ROLE_TEACHER"/>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username1" th:field="*{username}" placeholder="Введите логин"/>
                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Имя уже занято</div>
                <div th:if="${param.error}" style="color: red">Неправильное имя</div>
            </div>
            <div class="form-registration" th:object="${user}">
                <label for="password">Пароль:</label>
                <input type="password" id="password1" th:field="*{password}"
                       placeholder="Введите пароль"/>
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Неправильный пароль</div>
            </div>
            <div class="form-registration" th:object="${teacher}">
                <label for="lastName">Фамилия:</label>
                <input type="text" id="surName1" th:field="*{lastName}"/>
                <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Не должно быть пустым!</div>
            </div>
            <div class="form-registration" th:object="${teacher}">
                <label for="firstName">Имя:</label>
                <input type="text" id="firstName1" th:field="*{firstName}"/>
                <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Не должно быть пустым!</div>
            </div>
            <div class="form-registration" th:object="${teacher}">
                <label for="fatherName">Отчество:</label>
                <input type="text" id="fatherLand1" th:field="*{fatherName}"
                       placeholder="Отчество, при наличии"/>
            </div>
            <div class="list-group">
                <label>Выберите группу(ы), у которой(ых) Вы преподаете</label>
                <select name="selectedGroups[]" multiple="multiple">
                    <option th:each="group : ${groups}"
                            th:value="${group}"
                            th:text="${group}">
                    </option>
                </select>
            </div>
            <br>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <div class="login_button">
        <a th:href="@{/auth/login}">
            <button type="submit">Уже есть аккаунт</button>
        </a>
    </div>
</div>
</body>
</html>
