<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
  <link rel="stylesheet" type="text/css" media="all" href="/css/main.css" th:href="@{/css/main.css}" />
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
<div class="main-div">
  <form th:action="@{/profile}">
    <button class="main-button">Личный кабинет</button>
  </form><br>
  <div>
    <form th:action="@{/academic-performance}">
      <button class="main-button">Моя успеваемость</button>
    </form><br>
  </div>
  <form th:action="@{/logout}" th:method="POST">
    <input type="hidden" value="Logout"/>
    <button class="main-button">Выйти</button>
  </form>
</div>
</body>
</html>