<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org" lang="en" >
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/css/change-password.css" th:href="@{/css/change-password.css}" />
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
<div class="profile-div">
    <h2>Смена пароля</h2>
    <form class="form-group" th:action="@{/profile/change-password}" method="POST" th:object="${passwordForm}">
        <div>
            <label for="currentPassword">Текущий пароль</label>
            <input type="password" id="currentPassword" name="currentPassword" placeholder="Введите пароль" required>
            <div style="color:red" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
        </div><br>
        <div>
            <label for="newPassword">Новый пароль</label>
            <input type="password" id="newPassword" name="newPassword" placeholder="Введите новый пароль" required>
            <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
        </div><br>
        <div>
            <label for="newPasswordConfirm">Новый пароль еще раз</label>
            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="Подтвердите новый пароль" required>
            <div style="color:red" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}"></div>
        </div><br>
        <button type="submit">Изменить пароль</button>
    </form>
    <form th:action="@{/profile}">
        <button class="profile-button">Назад</button>
    </form><br>
</div>
</body>
</html>