<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/css/profile.css" th:href="@{/css/profile.css}" />
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<h1>Личный кабинет</h1>
<div class="profile-div">
    <h3>Информация о пользователе:</h3>
<div class="form-group" th:object="${student}">
    <p>Фамилия: <span th:text="${student.getLastName}"></span></p>
    <p>Имя: <span th:text="${student.getFirstName}"></span></p>
    <p>Отчество: <span th:text="${student.getFatherName}"></span></p>
    <div>
        <p>Группа: <span th:text="${student.getGroupStudent}"></span></p>
    </div>
</div>
    <form th:action="@{/profile/change-password}">
        <button class="profile-button-change">Сменить пароль</button>
    </form><br>
    <form th:action="@{/main}">
        <button class="profile-button">Назад</button>
    </form><br>
</div>
</body>
</html>