<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
  <link rel="stylesheet" type="text/css" media="all" href="/css/profile.css" th:href="@{/css/profile.css}" />
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
</head>
<body>
<h1>Личный кабинет</h1>
<div class="profile-div">
  <h3>Информация о пользователе:</h3>
  <form class="form-group" th:object="${teacher}">
    <p>Фамилия: <span th:text="${teacher.getLastName}"></span></p>
    <p>Имя: <span th:text="${teacher.getFirstName}"></span></p>
    <p>Отчество: <span th:text="${teacher.getFatherName}"></span></p>
    <div>
      <h4>Дополнительная информация (только для преподавателей):</h4>
      <table>
        <thead>
        <tr>
          <th>Группа</th>
          <th>Дисциплина</th>
          <th>Форма сдачи</th>
        </tr>
        </thead>
        <tbody>
        <!-- Использование Thymeleaf для итерации по массивам групп и предметов -->
        <tr th:each="teacher : ${teachers}">
          <td th:text="${teacher.getGroupStudent}"></td>
          <td th:text="${teacher.getSubject}"></td>
          <td th:text="${teacher.getTypeControl}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
  <form th:action="@{/profile/change-password}">
    <button class="profile-button-change">Сменить пароль</button>
  </form><br>
  <form th:action="@{/main}">
    <button class="profile-button">Назад</button>
  </form><br>
</div>
</body>
</html>