<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
  <link rel="stylesheet" type="text/css" media="all" href="/css/academic-performance.css" th:href="@{/css/academic-performance.css}" />
  <meta charset="UTF-8">
  <title>Ваша Успеваемость</title>
</head>
<body>
<h1>Ваша успеваемость</h1>
<div class="profile-div">
  <h3>Информация о проведенных экзаменах(зачетах)</h3>
  <form class="form-group">
    <div>
      <a href="/statements/excel">Скачать в Excel</a>
      <table>
        <thead>
        <tr>
          <th>Имя преподавателя</th>
          <th>Дисциплина</th>
          <th>Форма сдачи</th>
          <th>Оценка</th>
        </tr>
        </thead>
        <tbody>
        <!-- Использование Thymeleaf для итерации по массивам групп и предметов -->
        <tr th:each="statement : ${statements}">
          <td th:text="${statement.getTeacher().getShortName}"></td>
          <td th:text="${statement.getNameSubject}"></td>
          <td th:text="${statement.getTeacher().getTypeControl}"></td>
          <td th:text="${statement.getRating}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
  <form th:action="@{/main}">
    <button class="profile-button">Назад</button>
  </form><br>
</div>
</body>
</html>